1- Create three lists representing house features, each list containing ten values.

In [94]:
import numpy as np
house_size = [100, 200, 245, 234, 33, 56, 250, 432, 123, 145]
rooms = [2, 3, 3, 3, 1, 1, 4, 5, 3, 2]
price = [450000, 400000, 385000, 360000, 80000, 125000, 450000, 569000, 560000, 450000]

#create an array combining these lists.

arr = np.array((house_size, rooms, price))
arr

array([[   100,    200,    245,    234,     33,     56,    250,    432,
           123,    145],
       [     2,      3,      3,      3,      1,      1,      4,      5,
             3,      2],
       [450000, 400000, 385000, 360000,  80000, 125000, 450000, 569000,
        560000, 450000]])

2- Transpose the array you have created, so that every line can represent features of one house.

In [95]:
houses = np.array(list(zip(house_size, rooms, price)))
print(houses)

[[   100      2 450000]
 [   200      3 400000]
 [   245      3 385000]
 [   234      3 360000]
 [    33      1  80000]
 [    56      1 125000]
 [   250      4 450000]
 [   432      5 569000]
 [   123      3 560000]
 [   145      2 450000]]

3- Display the shape of the array and explain what it means.

In [96]:
houses.shape

(10, 3)

In [85]:
#this array has 10 raws and 3 columns

4- Load the Earthquakes dataset. Export the dataset to an array as you covered in the previous lesson.

In [97]:
import pandas as pd
earthquakes = pd.read_csv('earthquakes.csv')

In [98]:
earthquakes.head()

,DateTime,Latitude,Longitude,Depth,Magnitude,MagType,NbStations,Gap,Distance,RMS,Source,EventID
0,1970/01/04 17:00:40.20,24.139,102.503,31.0,7.5,Ms,90.0,NaN,NaN,0.0,NEI,1.970010e+09
1,1970/01/06 05:35:51.80,-9.628,151.458,8.0,6.2,Ms,85.0,NaN,NaN,0.0,NEI,1.970011e+09
2,1970/01/08 17:12:39.10,-34.741,178.568,179.0,6.1,Mb,59.0,NaN,NaN,0.0,NEI,1.970011e+09
3,1970/01/10 12:07:08.60,6.825,126.737,73.0,6.1,Mb,91.0,NaN,NaN,0.0,NEI,1.970011e+09
4,1970/01/16 08:05:39.00,60.280,-152.660,85.0,6.0,ML,0.0,NaN,NaN,NaN,AK,NaN

In [99]:
earthquakes.shape

(5304, 12)

5- Slice first 20 rows and column numbers 3, 5, 6, 7, 12

In [104]:
sliced_array = earthquakes.loc[:20,['Longitude', 'Magnitude', 'MagType', 'NbStations', 'EventID']]
sliced_array

    Longitude  Magnitude MagType  NbStations       EventID
0    102.5030        7.5      Ms        90.0  1.970010e+09
1    151.4580        6.2      Ms        85.0  1.970011e+09
2    178.5680        6.1      Mb        59.0  1.970011e+09
3    126.7370        6.1      Mb        91.0  1.970011e+09
4   -152.6600        6.0      ML         0.0           NaN
5   -177.3490        6.5      Mb       175.0  1.970012e+09
6    142.9660        6.4      Ms       199.0  1.970012e+09
7   -104.2980        6.6      Ms       140.0  1.970012e+09
8    166.3700        6.4      Ms        91.0  1.970013e+09
9    -99.4840        6.5      Ms       100.0  1.970020e+09
10   122.1170        6.6      Ms        94.0  1.970021e+09
11   100.7750        6.1      Ms        57.0  1.970021e+09
12   103.0310        6.0      Ms        94.0  1.970022e+09
13  -179.5898        6.0      ML         0.0           NaN
14  -175.0400        6.1      ML         0.0           NaN
15   143.7070        6.2      Ms        82.0  1.970030e+09
16   168.6030        6.5      Ms        61.0  1.970031e+09
17   148.8700        6.0      Mb        65.0  1.970031e+09
18  -153.9700        6.5      ML         0.0           NaN
19   -69.4990        6.0      Mb       118.0  1.970032e+09
20   173.7500        6.5      ML         0.0           NaN

6- Display the row numbers where last values are equal to 4.5 or higher.

In [105]:
sliced_array[sliced_array['EventID'] >= 4.5].index

Int64Index([0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 15, 16, 17, 19], dtype='int64')

7- Assign 1 to first row.

In [108]:
sliced_array.loc[0] = 1
sliced_array

    Longitude  Magnitude MagType  NbStations       EventID
0      1.0000        1.0       1         1.0  1.000000e+00
1    151.4580        6.2      Ms        85.0  1.970011e+09
2    178.5680        6.1      Mb        59.0  1.970011e+09
3    126.7370        6.1      Mb        91.0  1.970011e+09
4   -152.6600        6.0      ML         0.0           NaN
5   -177.3490        6.5      Mb       175.0  1.970012e+09
6    142.9660        6.4      Ms       199.0  1.970012e+09
7   -104.2980        6.6      Ms       140.0  1.970012e+09
8    166.3700        6.4      Ms        91.0  1.970013e+09
9    -99.4840        6.5      Ms       100.0  1.970020e+09
10   122.1170        6.6      Ms        94.0  1.970021e+09
11   100.7750        6.1      Ms        57.0  1.970021e+09
12   103.0310        6.0      Ms        94.0  1.970022e+09
13  -179.5898        6.0      ML         0.0           NaN
14  -175.0400        6.1      ML         0.0           NaN
15   143.7070        6.2      Ms        82.0  1.970030e+09
16   168.6030        6.5      Ms        61.0  1.970031e+09
17   148.8700        6.0      Mb        65.0  1.970031e+09
18  -153.9700        6.5      ML         0.0           NaN
19   -69.4990        6.0      Mb       118.0  1.970032e+09
20   173.7500        6.5      ML         0.0           NaN

8- Save the final state of the array to disk.

In [121]:
import pandas as pd 
import numpy as np

pd.DataFrame(sliced_array).to_csv('new_earthquakes.csv')

9- Load the array you saved in the previous lesson from the disk.

In [123]:
load_array = pd.read_csv('new_earthquakes.csv')
load_array

    Unnamed: 0  Longitude  Magnitude MagType  NbStations       EventID
0            0     1.0000        1.0       1         1.0  1.000000e+00
1            1   151.4580        6.2      Ms        85.0  1.970011e+09
2            2   178.5680        6.1      Mb        59.0  1.970011e+09
3            3   126.7370        6.1      Mb        91.0  1.970011e+09
4            4  -152.6600        6.0      ML         0.0           NaN
5            5  -177.3490        6.5      Mb       175.0  1.970012e+09
6            6   142.9660        6.4      Ms       199.0  1.970012e+09
7            7  -104.2980        6.6      Ms       140.0  1.970012e+09
8            8   166.3700        6.4      Ms        91.0  1.970013e+09
9            9   -99.4840        6.5      Ms       100.0  1.970020e+09
10          10   122.1170        6.6      Ms        94.0  1.970021e+09
11          11   100.7750        6.1      Ms        57.0  1.970021e+09
12          12   103.0310        6.0      Ms        94.0  1.970022e+09
13          13  -179.5898        6.0      ML         0.0           NaN
14          14  -175.0400        6.1      ML         0.0           NaN
15          15   143.7070        6.2      Ms        82.0  1.970030e+09
16          16   168.6030        6.5      Ms        61.0  1.970031e+09
17          17   148.8700        6.0      Mb        65.0  1.970031e+09
18          18  -153.9700        6.5      ML         0.0           NaN
19          19   -69.4990        6.0      Mb       118.0  1.970032e+09
20          20   173.7500        6.5      ML         0.0           NaN

10- Display the mean and the standard deviation for each column.

In [125]:
load_array.mean()

/var/folders/1f/1mxcq1qd4ndfstjm328g7whh0000gn/T/ipykernel_43203/2167045340.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  load_array.mean()

Unnamed: 0    1.000000e+01
Longitude     2.933630e+01
Magnitude     6.014286e+00
NbStations    7.200000e+01
EventID       1.846893e+09
dtype: float64

In [126]:
load_array.std()

/var/folders/1f/1mxcq1qd4ndfstjm328g7whh0000gn/T/ipykernel_43203/2177897315.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  load_array.std()

Unnamed: 0    6.204837e+00
Longitude     1.423041e+02
Magnitude     1.170592e+00
NbStations    5.820052e+01
EventID       4.925048e+08
dtype: float64

11- Subtract 1, 25, 25, 10, 4 from columns in order.

In [130]:
load_array['Longitude'] -= 1
load_array['Magnitude'] -= 25
load_array['NbStations'] -= 25
load_array['NbStations'] -= 10
load_array['EventID'] -= 4

In [131]:
load_array

    Unnamed: 0  Longitude  Magnitude MagType  NbStations       EventID
0            0    -7.0000      -25.0       1       -36.0 -4.000000e+00
1            1   143.4580      -19.8      Ms        48.0  1.970011e+09
2            2   170.5680      -19.9      Mb        22.0  1.970011e+09
3            3   118.7370      -19.9      Mb        54.0  1.970011e+09
4            4  -160.6600      -20.0      ML       -37.0           NaN
5            5  -185.3490      -19.5      Mb       138.0  1.970012e+09
6            6   134.9660      -19.6      Ms       162.0  1.970012e+09
7            7  -112.2980      -19.4      Ms       103.0  1.970012e+09
8            8   158.3700      -19.6      Ms        54.0  1.970013e+09
9            9  -107.4840      -19.5      Ms        63.0  1.970020e+09
10          10   114.1170      -19.4      Ms        57.0  1.970021e+09
11          11    92.7750      -19.9      Ms        20.0  1.970021e+09
12          12    95.0310      -20.0      Ms        57.0  1.970022e+09
13          13  -187.5898      -20.0      ML       -37.0           NaN
14          14  -183.0400      -19.9      ML       -37.0           NaN
15          15   135.7070      -19.8      Ms        45.0  1.970030e+09
16          16   160.6030      -19.5      Ms        24.0  1.970031e+09
17          17   140.8700      -20.0      Mb        28.0  1.970031e+09
18          18  -161.9700      -19.5      ML       -37.0           NaN
19          19   -77.4990      -20.0      Mb        81.0  1.970032e+09
20          20   165.7500      -19.5      ML       -37.0           NaN

12- Multiply each element by 2.

In [132]:
multiplied_array = load_array * 2

In [133]:
multiplied_array

    Unnamed: 0  Longitude  Magnitude MagType  NbStations       EventID
0            0   -14.0000      -50.0      11       -72.0 -8.000000e+00
1            2   286.9160      -39.6    MsMs        96.0  3.940021e+09
2            4   341.1360      -39.8    MbMb        44.0  3.940022e+09
3            6   237.4740      -39.8    MbMb       108.0  3.940022e+09
4            8  -321.3200      -40.0    MLML       -74.0           NaN
5           10  -370.6980      -39.0    MbMb       276.0  3.940024e+09
6           12   269.9320      -39.2    MsMs       324.0  3.940024e+09
7           14  -224.5960      -38.8    MsMs       206.0  3.940024e+09
8           16   316.7400      -39.2    MsMs       108.0  3.940025e+09
9           18  -214.9680      -39.0    MsMs       126.0  3.940041e+09
10          20   228.2340      -38.8    MsMs       114.0  3.940041e+09
11          22   185.5500      -39.8    MsMs        40.0  3.940041e+09
12          24   190.0620      -40.0    MsMs       114.0  3.940045e+09
13          26  -375.1796      -40.0    MLML       -74.0           NaN
14          28  -366.0800      -39.8    MLML       -74.0           NaN
15          30   271.4140      -39.6    MsMs        90.0  3.940061e+09
16          32   321.2060      -39.0    MsMs        48.0  3.940062e+09
17          34   281.7400      -40.0    MbMb        56.0  3.940062e+09
18          36  -323.9400      -39.0    MLML       -74.0           NaN
19          38  -154.9980      -40.0    MbMb       162.0  3.940063e+09
20          40   331.5000      -39.0    MLML       -74.0           NaN