1 Determine all the variable types

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline 

import seaborn as sns

from scipy import stats

In [3]:
states_df = pd.read_csv('states_all.csv')

In [4]:
states_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [7]:
states_df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN

1.1 Find the fraction of the missing values for each variable

In [5]:
states_df.isnull().sum()*100/states_df.shape[0]

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          28.629738
TOTAL_REVENUE                   25.655977
FEDERAL_REVENUE                 25.655977
STATE_REVENUE                   25.655977
LOCAL_REVENUE                   25.655977
TOTAL_EXPENDITURE               25.655977
INSTRUCTION_EXPENDITURE         25.655977
SUPPORT_SERVICES_EXPENDITURE    25.655977
OTHER_EXPENDITURE               28.629738
CAPITAL_OUTLAY_EXPENDITURE      25.655977
GRADES_PK_G                     10.087464
GRADES_KG_G                      4.839650
GRADES_4_G                       4.839650
GRADES_8_G                       4.839650
GRADES_12_G                      4.839650
GRADES_1_8_G                    40.524781
GRADES_9_12_G                   37.551020
GRADES_ALL_G                     4.839650
AVG_MATH_4_SCORE                67.055394
AVG_MATH_8_SCORE                64.897959
AVG_READING_4_SCORE             62.099125
AVG_READING_8_SCORE             67.230321
dtype: float64

In [6]:
(states_df.isnull().sum()*100/states_df.shape[0]).sort_values(ascending=False)

AVG_READING_8_SCORE             67.230321
AVG_MATH_4_SCORE                67.055394
AVG_MATH_8_SCORE                64.897959
AVG_READING_4_SCORE             62.099125
GRADES_1_8_G                    40.524781
GRADES_9_12_G                   37.551020
ENROLL                          28.629738
OTHER_EXPENDITURE               28.629738
SUPPORT_SERVICES_EXPENDITURE    25.655977
CAPITAL_OUTLAY_EXPENDITURE      25.655977
INSTRUCTION_EXPENDITURE         25.655977
TOTAL_EXPENDITURE               25.655977
LOCAL_REVENUE                   25.655977
STATE_REVENUE                   25.655977
FEDERAL_REVENUE                 25.655977
TOTAL_REVENUE                   25.655977
GRADES_PK_G                     10.087464
GRADES_KG_G                      4.839650
GRADES_4_G                       4.839650
GRADES_8_G                       4.839650
GRADES_12_G                      4.839650
GRADES_ALL_G                     4.839650
STATE                            0.000000
YEAR                             0.000000
PRIMARY_KEY                      0.000000
dtype: float64

2 Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variable. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

- The variables 'YEAR', 'PRIMARY_KEY' and with missing values over 60% will be dropped. The rest of the viriable will be filled.

In [7]:
no_year_df = states_df.copy()

In [8]:
no_year_df.drop(columns=['PRIMARY_KEY','YEAR', 'AVG_MATH_4_SCORE',
                           'AVG_MATH_8_SCORE', 'AVG_READING_4_SCORE',
                           'AVG_READING_8_SCORE'], inplace=True)

In [11]:
filled_df = no_year_df.fillna(no_year_df.mean())
filled_df

/var/folders/1f/1mxcq1qd4ndfstjm328g7whh0000gn/T/ipykernel_2714/572628101.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  filled_df = no_year_df.fillna(no_year_df.mean())

,STATE,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,CAPITAL_OUTLAY_EXPENDITURE,GRADES_PK_G,GRADES_KG_G,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G
0,ALABAMA,917541.566176,2.678885e+06,3.041770e+05,1.659028e+06,7.156800e+05,2.653798e+06,1.481703e+06,7.350360e+05,429950.933824,1.740530e+05,8224.000000,55460.00000,57948.000000,58025.000000,41167.000000,577954.717647,282069.084967,7.316340e+05
1,ALASKA,917541.566176,1.049591e+06,1.067800e+05,7.207110e+05,2.221000e+05,9.724880e+05,4.983620e+05,3.509020e+05,429950.933824,3.745100e+04,2371.000000,10152.00000,9748.000000,8789.000000,6714.000000,577954.717647,282069.084967,1.224870e+05
2,ARIZONA,917541.566176,3.258079e+06,2.978880e+05,1.369815e+06,1.590376e+06,3.401580e+06,1.435908e+06,1.007732e+06,429950.933824,6.091140e+05,2544.000000,53497.00000,55433.000000,49081.000000,37410.000000,577954.717647,282069.084967,6.734770e+05
3,ARKANSAS,917541.566176,1.711959e+06,1.785710e+05,9.587850e+05,5.746030e+05,1.743022e+06,9.643230e+05,4.834880e+05,429950.933824,1.452120e+05,808.000000,33511.00000,34632.000000,36011.000000,27651.000000,577954.717647,282069.084967,4.414900e+05
4,CALIFORNIA,917541.566176,2.626002e+07,2.072470e+06,1.654651e+07,7.641041e+06,2.713883e+07,1.435892e+07,8.520926e+06,429950.933824,2.044688e+06,59067.000000,431763.00000,418418.000000,363296.000000,270675.000000,577954.717647,282069.084967,5.254844e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,VIRGINIA,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,429950.933824,9.034675e+05,17840.958495,68810.96201,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05
1711,WASHINGTON,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,429950.933824,9.034675e+05,17840.958495,68810.96201,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05
1712,WEST_VIRGINIA,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,429950.933824,9.034675e+05,17840.958495,68810.96201,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05
1713,WISCONSIN,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,429950.933824,9.034675e+05,17840.958495,68810.96201,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05
1714,WYOMING,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,2.682587e+06,429950.933824,9.034675e+05,17840.958495,68810.96201,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05

In [12]:
filled_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATE                         1715 non-null   object
 1   ENROLL                        1715 non-null   float64
 2   TOTAL_REVENUE                 1715 non-null   float64
 3   FEDERAL_REVENUE               1715 non-null   float64
 4   STATE_REVENUE                 1715 non-null   float64
 5   LOCAL_REVENUE                 1715 non-null   float64
 6   TOTAL_EXPENDITURE             1715 non-null   float64
 7   INSTRUCTION_EXPENDITURE       1715 non-null   float64
 8   SUPPORT_SERVICES_EXPENDITURE  1715 non-null   float64
 9   OTHER_EXPENDITURE             1715 non-null   float64
 10  CAPITAL_OUTLAY_EXPENDITURE    1715 non-null   float64
 11  GRADES_PK_G                   1715 non-null   float64
 12  GRADES_KG_G                   1715 non-null   float64
 13  GRADES_4_G                    1715 non-null   float64
 14  GRADES_8_G                    1715 non-null   float64
 15  GRADES_12_G                   1715 non-null   float64
 16  GRADES_1_8_G                  1715 non-null   float64
 17  GRADES_9_12_G                 1715 non-null   float64
 18  GRADES_ALL_G                  1715 non-null   float64
dtypes: float64(18), object(1)
memory usage: 254.7+ KB

In [13]:
filled_df.isnull().sum()*100/filled_df.isnull().count()

STATE                           0.0
ENROLL                          0.0
TOTAL_REVENUE                   0.0
FEDERAL_REVENUE                 0.0
STATE_REVENUE                   0.0
LOCAL_REVENUE                   0.0
TOTAL_EXPENDITURE               0.0
INSTRUCTION_EXPENDITURE         0.0
SUPPORT_SERVICES_EXPENDITURE    0.0
OTHER_EXPENDITURE               0.0
CAPITAL_OUTLAY_EXPENDITURE      0.0
GRADES_PK_G                     0.0
GRADES_KG_G                     0.0
GRADES_4_G                      0.0
GRADES_8_G                      0.0
GRADES_12_G                     0.0
GRADES_1_8_G                    0.0
GRADES_9_12_G                   0.0
GRADES_ALL_G                    0.0
dtype: float64

3. Now, take into account the time factor. Replicate your second answer, but this time, fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill in a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

In [23]:
by_year_filled = states_df.copy()

In [24]:
for col in list(by_year_filled.columns)[3:]:
    by_year_filled[col] = by_year_filled.groupby(['YEAR'])[col].transform(lambda x: x.fillna(x.mean()))

In [16]:
by_year_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1248 non-null   float64
 4   TOTAL_REVENUE                 1301 non-null   float64
 5   FEDERAL_REVENUE               1301 non-null   float64
 6   STATE_REVENUE                 1301 non-null   float64
 7   LOCAL_REVENUE                 1301 non-null   float64
 8   TOTAL_EXPENDITURE             1301 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1301 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1301 non-null   float64
 11  OTHER_EXPENDITURE             1248 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1301 non-null   float64
 13  GRADES_PK_G                   1662 non-null   float64
 14  GRADES_KG_G                   1662 non-null   float64
 15  GRADES_4_G                    1662 non-null   float64
 16  GRADES_8_G                    1662 non-null   float64
 17  GRADES_12_G                   1662 non-null   float64
 18  GRADES_1_8_G                  1040 non-null   float64
 19  GRADES_9_12_G                 1093 non-null   float64
 20  GRADES_ALL_G                  1662 non-null   float64
 21  AVG_MATH_4_SCORE              689 non-null    float64
 22  AVG_MATH_8_SCORE              689 non-null    float64
 23  AVG_READING_4_SCORE           742 non-null    float64
 24  AVG_READING_8_SCORE           689 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [17]:
by_year_filled.isnull().sum()*100/by_year_filled.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          27.230321
TOTAL_REVENUE                   24.139942
FEDERAL_REVENUE                 24.139942
STATE_REVENUE                   24.139942
LOCAL_REVENUE                   24.139942
TOTAL_EXPENDITURE               24.139942
INSTRUCTION_EXPENDITURE         24.139942
SUPPORT_SERVICES_EXPENDITURE    24.139942
OTHER_EXPENDITURE               27.230321
CAPITAL_OUTLAY_EXPENDITURE      24.139942
GRADES_PK_G                      3.090379
GRADES_KG_G                      3.090379
GRADES_4_G                       3.090379
GRADES_8_G                       3.090379
GRADES_12_G                      3.090379
GRADES_1_8_G                    39.358601
GRADES_9_12_G                   36.268222
GRADES_ALL_G                     3.090379
AVG_MATH_4_SCORE                59.825073
AVG_MATH_8_SCORE                59.825073
AVG_READING_4_SCORE             56.734694
AVG_READING_8_SCORE             59.825073
dtype: float64

4. This time, fill in the missing values using interpolation (extrapolation).

In [18]:
interpolate_df = states_df.interpolate(method ='linear', limit_direction ='both')

In [19]:
interpolate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1715 non-null   float64
 4   TOTAL_REVENUE                 1715 non-null   float64
 5   FEDERAL_REVENUE               1715 non-null   float64
 6   STATE_REVENUE                 1715 non-null   float64
 7   LOCAL_REVENUE                 1715 non-null   float64
 8   TOTAL_EXPENDITURE             1715 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1715 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1715 non-null   float64
 11  OTHER_EXPENDITURE             1715 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1715 non-null   float64
 13  GRADES_PK_G                   1715 non-null   float64
 14  GRADES_KG_G                   1715 non-null   float64
 15  GRADES_4_G                    1715 non-null   float64
 16  GRADES_8_G                    1715 non-null   float64
 17  GRADES_12_G                   1715 non-null   float64
 18  GRADES_1_8_G                  1715 non-null   float64
 19  GRADES_9_12_G                 1715 non-null   float64
 20  GRADES_ALL_G                  1715 non-null   float64
 21  AVG_MATH_4_SCORE              1715 non-null   float64
 22  AVG_MATH_8_SCORE              1715 non-null   float64
 23  AVG_READING_4_SCORE           1715 non-null   float64
 24  AVG_READING_8_SCORE           1715 non-null   float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB

In [32]:
interpolate_df.isnull().sum()*100/interpolate_df.isnull().count()

PRIMARY_KEY                     0.0
STATE                           0.0
YEAR                            0.0
ENROLL                          0.0
TOTAL_REVENUE                   0.0
FEDERAL_REVENUE                 0.0
STATE_REVENUE                   0.0
LOCAL_REVENUE                   0.0
TOTAL_EXPENDITURE               0.0
INSTRUCTION_EXPENDITURE         0.0
SUPPORT_SERVICES_EXPENDITURE    0.0
OTHER_EXPENDITURE               0.0
CAPITAL_OUTLAY_EXPENDITURE      0.0
GRADES_PK_G                     0.0
GRADES_KG_G                     0.0
GRADES_4_G                      0.0
GRADES_8_G                      0.0
GRADES_12_G                     0.0
GRADES_1_8_G                    0.0
GRADES_9_12_G                   0.0
GRADES_ALL_G                    0.0
AVG_MATH_4_SCORE                0.0
AVG_MATH_8_SCORE                0.0
AVG_READING_4_SCORE             0.0
AVG_READING_8_SCORE             0.0
dtype: float64

5. Compare your results for the second, third, and fourth questions. Do you find any meaningful differences?

All three methods are different. 

Answering the second question, we combined an imputation technique and a removing of some columns with high % of missing values. We got very general results that may not be accurate without a division by years. As well, we got an error because we have non-numeric variable "STATE" that can not be deleted. Changing "STATE" variable to a numeric would make the DataFrame very wide and difficult to work with.

Answering the second method, we used imputation technique but grouped data by yeat that makes the estimates more accurate.

In fouth answer, we used an interpolation method that seemed to be the most suitable for this DataFrame.